/*importing Google font - open sans*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header, .category-list {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5erm 1rem;
}

.navbar :where(.nav-section, .search-form, .nav-logo) {
    display: flex;
    align-items: center;
}

.navbar .nav-section {
    gap: 1rem;

}

.navbar :where(.logo-image, .user-image) {
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 15px;
}

.navbar .nav-button {
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
}
.navbar .nav-button:hover {
    background: lightgray;
}

.navbar .nav-button i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar  .nav-logo {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
}

.navbar  .nav-logo .logo-text {
    font-size: 1.25rem;
    color: black;
}

.navbar .nav-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar .search-form  {
    max-width: 550px;
    flex: 1;
    height: 40px;
}

 .search-input {
    width: 100%;
    height: 100%;
    border-radius: 3.1rem 0 0 3.1rem;
    outline: none;
    font-size: 1rem;
    padding: 0 1rem;
    border: 1px solid rgb(241, 202, 202);
}

.navbar .search-form .search-button {
    width: auto;
    padding: 0 1.25rem;
    border-radius: 0 3.1rem 3.1rem 0;
    border: 1px solid rgb(241, 202, 202);
    border-left: 0;
}

.main-layout {
    display: flex;
    overflow-y: auto;
}

.main-layout .content-wrapper {
    padding: 0 1rem;
    overflow-x: hidden;
    width: 100%;
}

.content-wrapper .category-list  {
    display: flex;
    gap: 0.75rem;
    padding: 0.75rem 0 0.7rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.sidebar {
    padding-left: 15px;
}

.category-list .catagory-button {
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 0.9rem;
    padding: 0.4rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background: rgb(219, 211, 211);
}

.category-list .catagory-button:hover {
    background: rgb(255, 253, 253);
    transition: all .5s ease;
}

.content-wrapper .video-list {
    display: grid;
    gap: 1.4rem;
    padding: 1.25rem 0.4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.video-list .video-card {
    text-decoration: none;
}

.video-list .video-card .video-info {
    display: flex;
    gap: 0.7rem;
    padding: 0.7rem 0.5rem;
}

.video-list .video-card .thumbnail-container {
    position: relative;
}

 .video-list .video-card .thumbnail {
    width: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 16 / 9;
}

.video-list .video-card .duration {
    position: absolute;
    right: 0.65rem;
    bottom: 0.8rem;
    color: #fff;
    padding: 0 0.3rem;
    background: black;
    border-radius: 0.3rem;
    font-size: 0.875rem;
}

.video-list .video-card .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-list .video-card .tittle {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    cursor: pointer;
}

.containe {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.video-list .video-card .tittle:hover {
    color: rgb(86, 122, 243);
}

.video-list .video-card p {
    font-size: 0.875rem;
    color: rgb(55, 55, 56);
}

.video-list .video-card .channel-name {
    margin: 0.25rem 0 0.15rem;
}